/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/mh-ca/consensusOrg/*
organizations/mh-ca/org1/*
organizations/mh-ca/org2/*
organizations/consensusOrganizations/*
organizations/commiterOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
